<h1> {{title}}  </h1>

<div class="row">
    <div class="col-md-3">
        <label>Name</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="name">
    </div>
</div>
{{name}}
<div class="row">
    <div class="col-md-3">
        <label>City</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="city">
    </div>
</div>
{{city}}
<div class="row">
    <div class="col-md-3">
        <label>Phone</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="Phone">
    </div>
</div>
{{Phone}}
<div class="row">
    <button type="submit" class="btn btn-primary" (click)="Show()"> Submit </button>
</div>










