
 <!-- step 6: <selectorname></selectorname> placed here -->
<!-- <coll-comp></coll-comp> -->
<!-- <dir-comp></dir-comp> -->
<!-- <bind-comp></bind-comp> -->
<!-- <pipe-comp></pipe-comp> -->
<!-- <temp-comp></temp-comp> -->
<!-- <model-app></model-app> -->
<!-- <service-app></service-app> -->
<!-- <app-Home></app-Home> -->
<!-- <app-about></app-about> -->
<!-- <app-contact></app-contact> -->

<!-- <a routerLink='/'> HOME </a>
<a routerLink='/about'> ABOUT </a>
<a routerLink='/contact'> CONTACT </a>
<router-outlet></router-outlet> -->

<app-parent></app-parent>





